<h1>Members</h1>
<hr />
<% for member in @members %>
  <p>Name: <%= member.format_name()%> Email: <%= member.email() %> Phone No: <%= member.phone %> Membership Status: <%= member.membership %></p>
  <!-- <p>Email: <%= member.email() %></p>
  <p>Phone No: <%= member.phone %></p>
  <p>Membership Status: <%= member.membership %></p>
  <p><a href="/members/<%= member.id %>">Show Member</a></p> -->

<hr />
<% end %>
