<div id="" style="overflow:scroll; height:30em; width:45em;">
<h1>Members</h1>
<hr />
<% for member in @members %>
  <p>Name: <%= member.format_name()%></p>
  <p>Membership Status: <%= member.membership %></p>
<form class="formside" action="/members/<%= member.id%>/delete" method="POST">
  <input type="submit" value="Delete Member">
</form>
<form class="formside" action="/members/<%= member.id%>" method="get">
  <input type="submit" value="View Details">
</form>
  <!-- <p>Email: <%= member.email() %></p>
  <p>Phone No: <%= member.phone %></p>
  <p>Membership Status: <%= member.membership %></p>
  <p><a href="/members/<%= member.id %>">Show Member</a></p> -->


<hr />
<% end %>
</div>
<form action="/members/new" method="get">
  <input type="submit" value="Add Member" >

</form>
